//
//  Debug.xcconfig
//  RedCalendar-Female
//
//  Created by Артём Болотов on 02.07.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Staging configuration
API_BASE_URL = https:/$()/staging.calendar.red
ENVIRONMENT_NAME = Staging
